body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 40%;
    margin-left:28%;
    margin-right:28%;
}

h1 {
  text-align: center;
  font-size: 50px;
}

